body {
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  color: aliceblue;
  height: 100vh;
  background-color: black;
}
h2 {
  margin: 0 auto;
  font-size: 1em;
  color: aliceblue;
  font-size: 3em;
}
p {
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 2em;
  color: aliceblue;
  height: 100vh;
}
